@import '../../style/vars';

.container {
  min-height: calc(100vh - 80px);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
}

.localStream {
}

.aloneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: calc(100vh - 80px);
}

.alone {
  flex: 0 0 auto;
  max-width: 25%;
}

.remoteStreams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.remoteStream {
  flex: 1;
  overflow: hidden;
}

.identityCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.identityCard {
  flex: 0 0 auto;
  background: rgba(255,255,255,0.6);
  width: auto;
}

.topRight {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 999;
}

.topRightUnfolded {
  height: 240px;
  width: 320px;
  border-radius: 0 0 0 2.8rem;
}

.topRightUnfolded:after {
  content: '';
  width:100%;
  height: 100%;
  box-shadow: inset 5px -5px 15px 2px rgba(48,63,159,1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 0 0 2.8rem;
  pointer-events: none;
}

.topRightFolded {
  height: 60px;
  width: 80px;
  transition: all 1s;
  video {
    transition: all 1s;
  }
}

.fullScreen {
  width: 100%;
  height: 100%;
}

.bottomCenterStripe {
  position: fixed;
  bottom: 0;
  float: left;
  width: 100%;
}

