@import '../../style/vars';

.cardContainer {
  height: 100%;
  min-height: 100vh;
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 0 0 auto;
  background: rgba(255,255,255,0.6);
  width: auto;
}

.actions {
  display: flex;
  justify-content: center;
}
