@import '../../style/vars';

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: $darkgray;
  height: 40px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40px;
  flex: 0 1 auto;
}

.title {
  color: $white;
  flex: 1;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
